In [40]:
import pandas as pd
from tqdm.notebook import tqdm

In [5]:
!ls ../../input/squad2

train-squad.csv  validation-squad.csv

In [11]:
squad1 = pd.read_csv('../../input/squad1/SQuAD-v1.2.csv')
squad1

,title,context,question,answer,answer_start_char_idx,answer_end_char_idx,answer_start_word_idx,answer_end_word_idx
0,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,Saint Bernadette Soubirous,515,541,102.0,104.0
1,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,a copper statue of Christ,188,213,37.0,41.0
2,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,the Main Building,279,296,57.0,59.0
3,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,a Marian place of prayer and reflection,381,420,76.0,82.0
4,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,a golden statue of the Virgin Mary,92,126,17.0,23.0
...,...,...,...,...,...,...,...,...
87594,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,Oregon,229,235,38.0,38.0
87595,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What was Yangon previously known as?,Rangoon,414,421,71.0,71.0
87596,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,476,481,85.0,85.0
87597,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,199,203,31.0,31.0
87598,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,0,27,0.0,2.0

In [12]:
squad1['context_len'] = squad1['context'].apply(len)
squad1['context_len'].mean()

754.3642164864896

In [6]:
squad2 = pd.read_csv('../../input/squad2/train-squad.csv')
squad2

,Unnamed: 0,context,question,id,answer_start,text
0,0,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,56be85543aeaaa14008c9063,269,in the late 1990s
1,1,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,56be85543aeaaa14008c9065,207,singing and dancing
2,2,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,56be85543aeaaa14008c9066,526,2003
3,3,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,56bf6b0f3aeaaa14008c9601,166,"Houston, Texas"
4,4,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,56bf6b0f3aeaaa14008c9602,276,late 1990s
...,...,...,...,...,...,...
86816,271,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,5735d259012e2f140011a09d,229,Oregon
86817,272,"Kathmandu Metropolitan City (KMC), in order to...",What was Yangon previously known as?,5735d259012e2f140011a09e,414,Rangoon
86818,273,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,5735d259012e2f140011a09f,476,Minsk
86819,274,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,5735d259012e2f140011a0a0,199,1975
86820,275,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,5735d259012e2f140011a0a1,0,Kathmandu Metropolitan City

In [7]:
squad2['context_len'] = squad2['context'].apply(len)
squad2['context_len'].mean()

754.4994068255376

In [39]:
squad1_translated = pd.read_csv('squad1.2_translated.csv')
squad1_translated

,title,context,question,answer,answer_start_char_idx,answer_end_char_idx,answer_start_word_idx,answer_end_word_idx,error_ta,error,context_ta,question_ta,answer_text_ta,answer_start_ta
0,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,Saint Bernadette Soubirous,515,541,102.0,104.0,answer does not occur once in the translated s...,NaN,NaN,NaN,NaN,NaN
1,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,a copper statue of Christ,188,213,37.0,41.0,NaN,success,"கட்டிடக்கலைப்படி, பள்ளியில் கத்தோலிக்கத் தன்மை...",நோட்ரே டேம் பிரதான கட்டிடத்தின் முன் என்ன இருக...,கிறிஸ்துவின் செப்பு சிலை,181.0
2,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,the Main Building,279,296,57.0,59.0,answer does not occur once in the translated s...,NaN,NaN,NaN,NaN,NaN
3,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,a Marian place of prayer and reflection,381,420,76.0,82.0,answer does not occur once in the translated s...,NaN,NaN,NaN,NaN,NaN
4,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,a golden statue of the Virgin Mary,92,126,17.0,23.0,NaN,success,"கட்டிடக்கலைப்படி, பள்ளியில் கத்தோலிக்கத் தன்மை...",நோட்ரே டேமில் உள்ள பிரதான கட்டிடத்தின் மேல் என...,கன்னி மேரியின் தங்க சிலை,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87594,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,Oregon,229,235,38.0,38.0,NaN,success,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",எந்த அமெரிக்க மாநிலத்தில் காத்மாண்டு முதலில் ச...,ஒரேகான்,177.0
87595,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What was Yangon previously known as?,Rangoon,414,421,71.0,71.0,NaN,success,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",யாங்கோன் முன்பு என்ன அழைக்கப்பட்டது?,ரங்கூன்,306.0
87596,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,476,481,85.0,85.0,NaN,success,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",காத்மாண்டு எந்த பெலாரஷ்ய நகரத்துடன் உறவு வைத்த...,மின்ஸ்க்,356.0
87597,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,199,203,31.0,31.0,NaN,success,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",காத்மாண்டு அதன் ஆரம்ப சர்வதேச உறவை எந்த ஆண்டில...,1975,146.0
87598,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,0,27,0.0,2.0,NaN,success,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",KMC இன் ஆரம்பநிலை என்றால் என்ன?,காத்மாண்டு பெருநகர நகரம்,0.0

In [41]:
for i in tqdm(range(len(squad1_translated))):
    if squad1_translated.loc[i, 'error'] == 'success':
        squad1_translated.loc[i, 'error_ta'] = 'success'

  0%|          | 0/87599 [00:00<?, ?it/s]

In [42]:
squad1_translated.error_ta.isna().sum()

0

In [43]:
squad1_translated.error_ta.value_counts()

answer does not occur once in the translated sentence    42333
success                                                  38087
tokenized length not match                                5205
answer does not occur once in the original sentence       1774
start and end not in same sentence                         199
network error                                                1
Name: error_ta, dtype: int64

In [ ]:
squad1_translated.drop(['error'], axis=1, inplace=True)

In [48]:
squad1_translated.to_csv('squad1.2_translated.csv', index=False)

In [55]:
sample_context = squad1_translated.loc[1, 'context_ta']
sample_answer_text = squad1_translated.loc[1, 'answer_text_ta']
sample_answer_start = int(squad1_translated.loc[1, 'answer_start_ta'])
sample_context[sample_answer_start:sample_answer_start+20], sample_answer_text

('கிறிஸ்துவின் செப்பு ', 'கிறிஸ்துவின் செப்பு சிலை')

In [59]:
squad1_translated

,title,context,question,answer,answer_start_char_idx,answer_end_char_idx,answer_start_word_idx,answer_end_word_idx,error_ta,context_ta,question_ta,answer_text_ta,answer_start_ta
0,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,Saint Bernadette Soubirous,515,541,102.0,104.0,answer does not occur once in the translated s...,NaN,NaN,NaN,NaN
1,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,a copper statue of Christ,188,213,37.0,41.0,success,"கட்டிடக்கலைப்படி, பள்ளியில் கத்தோலிக்கத் தன்மை...",நோட்ரே டேம் பிரதான கட்டிடத்தின் முன் என்ன இருக...,கிறிஸ்துவின் செப்பு சிலை,181.0
2,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,the Main Building,279,296,57.0,59.0,answer does not occur once in the translated s...,NaN,NaN,NaN,NaN
3,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,a Marian place of prayer and reflection,381,420,76.0,82.0,answer does not occur once in the translated s...,NaN,NaN,NaN,NaN
4,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,a golden statue of the Virgin Mary,92,126,17.0,23.0,success,"கட்டிடக்கலைப்படி, பள்ளியில் கத்தோலிக்கத் தன்மை...",நோட்ரே டேமில் உள்ள பிரதான கட்டிடத்தின் மேல் என...,கன்னி மேரியின் தங்க சிலை,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87594,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,Oregon,229,235,38.0,38.0,success,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",எந்த அமெரிக்க மாநிலத்தில் காத்மாண்டு முதலில் ச...,ஒரேகான்,177.0
87595,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What was Yangon previously known as?,Rangoon,414,421,71.0,71.0,success,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",யாங்கோன் முன்பு என்ன அழைக்கப்பட்டது?,ரங்கூன்,306.0
87596,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,476,481,85.0,85.0,success,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",காத்மாண்டு எந்த பெலாரஷ்ய நகரத்துடன் உறவு வைத்த...,மின்ஸ்க்,356.0
87597,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,199,203,31.0,31.0,success,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",காத்மாண்டு அதன் ஆரம்ப சர்வதேச உறவை எந்த ஆண்டில...,1975,146.0
87598,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,0,27,0.0,2.0,success,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",KMC இன் ஆரம்பநிலை என்றால் என்ன?,காத்மாண்டு பெருநகர நகரம்,0.0

In [65]:
formatted = squad1_translated[squad1_translated['error_ta']=='success'].reset_index(drop=True)
formatted.drop(['title', 'context', 'question', 'answer', 'answer_start_char_idx', 'answer_end_char_idx', 'answer_start_word_idx', 'answer_end_word_idx', 'error_ta'], axis=1, inplace=True)
formatted['answer_start_ta']=formatted['answer_start_ta'].astype(int)
formatted['language']='tamil'
formatted.columns = formatted.columns.str.replace(r'_ta$', '')
formatted

<ipython-input-65-d50d12fc1fc4>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  formatted.columns = formatted.columns.str.replace(r'_ta$', '')

,context,question,answer_text,answer_start,language
0,"கட்டிடக்கலைப்படி, பள்ளியில் கத்தோலிக்கத் தன்மை...",நோட்ரே டேம் பிரதான கட்டிடத்தின் முன் என்ன இருக...,கிறிஸ்துவின் செப்பு சிலை,181,tamil
1,"கட்டிடக்கலைப்படி, பள்ளியில் கத்தோலிக்கத் தன்மை...",நோட்ரே டேமில் உள்ள பிரதான கட்டிடத்தின் மேல் என...,கன்னி மேரியின் தங்க சிலை,99,tamil
2,"பெரும்பாலான பிற பல்கலைக்கழகங்களைப் போலவே, நோட்...",நோட்ரே டேமின் ஸ்காலஸ்டிக் இதழ் எப்போது வெளியிட...,செப்டம்பர் 1876,243,tamil
3,"பெரும்பாலான பிற பல்கலைக்கழகங்களைப் போலவே, நோட்...",நோட்ரே டேமின் ஜக்லர் எத்தனை முறை வெளியிடப்படுக...,இரண்டு முறை,471,tamil
4,"பெரும்பாலான பிற பல்கலைக்கழகங்களைப் போலவே, நோட்...",நோட்ரே டேமில் எத்தனை மாணவர் செய்தித்தாள்கள் கா...,மூன்று,178,tamil
...,...,...,...,...,...
38082,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",எந்த அமெரிக்க மாநிலத்தில் காத்மாண்டு முதலில் ச...,ஒரேகான்,177,tamil
38083,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",யாங்கோன் முன்பு என்ன அழைக்கப்பட்டது?,ரங்கூன்,306,tamil
38084,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",காத்மாண்டு எந்த பெலாரஷ்ய நகரத்துடன் உறவு வைத்த...,மின்ஸ்க்,356,tamil
38085,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",காத்மாண்டு அதன் ஆரம்ப சர்வதேச உறவை எந்த ஆண்டில...,1975,146,tamil
38086,"காத்மாண்டு பெருநகர நகரம் (KMC), சர்வதேச உறவுகள...",KMC இன் ஆரம்பநிலை என்றால் என்ன?,காத்மாண்டு பெருநகர நகரம்,0,tamil

In [66]:
formatted.to_csv('squad1.2_ta_formatted.csv', index=False)